
.carts{
    max-height: 500px;
    overflow-y: auto;}
.cartTitle {
    text-align: center;
    margin: 30px 0 50px;
}
.carts .box-cart{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.carts .box-cart:not(:first-child){
    margin-top: 20px;
}
.carts .box-cart:not(:last-child){
    border-bottom: 1px solid rgb(152, 151, 150);
}
.carts .box-cart .img img{
    width: 80px;
}
.carts .box-cart .img {
    display: flex;
    align-items: center;
    gap: 20px;
}
.inc-dec{
    display: flex;
    gap: 5px;
    margin-top: 8px;
}
.inc-dec button{
    width: 20px ;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
}
.inc-dec div{
    min-width: 30px;
    text-align: center;
    background-color: #ddd;
}
.totalPrice{
    margin-top: 10px;
}
.totalPrice span{
    color: red;
}
.deletItem{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.deletItem:hover{
    background-color: red;
}
.deletItem i{
    color: white;
    font-size: 16px;
}

.total-products{
    border-top: 1px solid rgb(152, 151, 150);
    text-align: center;
    padding: 50px 0 50px;
}
.total-products span{
    color: red;
}

.empty{
    text-align: center;
    font-size: 40px;
    color: red;
}

@media (max-width:500px){
    .carts .box-cart .img h4{
        font-size: 14px;
        width: 170px;
    }
    .carts .box-cart .img img{
        width: 60px;
    }
    .deletItem{
        max-width: 30px;
        height: 30px;
    }
    .deletItem i {
        font-size: 14px;
    }
}