
.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 585px;
}

.text{
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    width: 550px;
}
.text span{
    margin-bottom: 16px;
    font-size: 16px;
    color: #292b2c;
    font-weight: bold;
}
.text h1{
    font-size: 70px;
    margin-bottom: 15px;
    color: #292b2c;
}
.text p {
    color: #687188;
    margin-bottom: 30px;
}

.button{
    background-color: transparent;
    border: 1px solid #FF324D;
    color: #FF324D;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    transition: 0.3s;
}
.button::after{
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 51%;
    height: 150%;
    background-color: #FF324D;
    z-index: -1;
    transition: 0.5s;
}
.button::before{
    content: '';
    position: absolute;
    right: -100%;
    top: 0;
    width: 51%;
    height: 150%;
    background-color: #FF324D;
    z-index: -1;
    transition: 0.5s;
}
.button:hover{
    color: white;
}
.button:hover.button::after{
    left: 0;
}
.button:hover.button::before{
    right: 0;
}

.banners{
    display: flex;
    justify-content: center;
    padding: 100px 0 50px 0;
}

 .box{
    padding: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #ddd;
}
.box h4{
    color: #292b2c;
    margin-bottom: 8px;
}
.box span{
    color: #687188;
    font-size: 14px;
}
 .box i {
    font-size: 40px;
    color: #FF324D;
    font-weight: 300;
 }

 .headProduct{
    text-align: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #292b2c;
    padding-bottom: 15px;
    font-size: 30px;
 }
 .headProduct::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #FF324D;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
 }

@media (max-width:1300px){
    .text{
            left: 100px;
        }
         .banner img{
            object-fit: cover;
        }
}


 @media (max-width:1100px){
        .banner h1{
            font-size: 50px;
        }

        .text{
            left: 100px;
        }
        .banner img{
            height: 500px;
            object-fit: cover;
        }
        .banners {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            padding: 100px 15px 50px ;
        }
        .box{
            width: 49%;
        }
        .text{
            width: 400px;
        }
       
}
 @media (max-width:950px){
    .banner img{
            height: 450px;
            object-fit: cover;
        }
 }
 @media (max-width:800px){
    .banner img{
            height: 400px;
            object-fit: cover;
        }
        .banner h1{
            font-size: 40px;
        }
        .banner span{
            font-size: 16px;
        }
        .banner p{
            width: 300px;
        }
        .banners{
            padding: 50px 0 0 0;
        }
 }
 @media (max-width:750px){
    .banner img{
            height: 300px;
            object-fit: cover;
        }
        .text{
            left: 50px;
            width: 400px;
        }
        
 }
 

 @media (max-width:650px){
    .banner img{
            height: 300px;
            object-fit: cover;
        }
        .text{
            left: 30px;
            width: 300px;
        }
        .text h1{
            font-size: 30px;
        }
        .text span,.text p{
            font-size: 12px;
        }
        .button{
            padding: 10px 20px;
            font-size: 16px;
        }
 }
 @media(max-width:600px){
    .box{
            width: 100%;
        }
 }
 @media (max-width:450px){
    .banner img{
            height: 250px;
            object-fit: cover;
        }
        .text{
            left: 15px;
            width: 250px;
        }
        .text h1{
            font-size: 25px;
        }
        .text span,.text p{
            font-size: 12px;
        }
        .button{
            padding: 5px 15px;
            font-size: 14px;
        }
 }


