
.header{
    padding: 10px 0;
}
.logo img{
    width: 180px;
}
.coins{
    text-transform: uppercase;
}
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
    padding-bottom: 10px;
}

.leftside{
    display: flex;
    gap: 20px;
}
.rightside{
    display: flex;
    gap: 20px;
}
.hover{
    transition: 0.3s;
}
.hover:hover{
    color: #FF324D;
    cursor: pointer;
}

.botnav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list{
    display: flex;
    gap: 15px;
}
.list li a{
    transition: 0.3s;
}

.list li a:hover{
    color: #FF324D;
}

.icons{
    display: flex;
    gap: 20px;
}
.icons i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.icons i:hover{
    color: #FF324D;
}


@media (max-width:950px){
    .topnav{
        flex-wrap: wrap;
        gap: 15px;
    }
    .leftside{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .rightside{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width:550px){
    .leftside i{
       font-size: 14px;
    }
    .leftside{
        gap: 5px;
    }
    .logo img{
        width: 150px;
    }
}